<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_fast_order_preview %}
<div class="sw-cms-el-preview-fast-order">
    <p class="sw-cms-el-preview-fast-order__price">
        0,00 €
    </p>

    <div class="sw-cms-el-preview-fast-order__placeholders">
        <div class="sw-cms-el-preview-fast-order__placeholder"></div>
        <div class="sw-cms-el-preview-fast-order__placeholder"></div>
        <div class="sw-cms-el-preview-fast-order__placeholder"></div>
        <div class="sw-cms-el-preview-fast-order__placeholder"></div>
    </div>

    <div class="sw-cms-el-preview-fast-order__placeholder"></div>
    <div class="sw-cms-el-preview-fast-order__placeholder"></div>

    <div class="sw-cms-el-preview-fast-order__action">
        Fast Order
    </div>
</div>
{% endblock %}
