<!-- Button trigger modal -->

<button type="button" class="{{ button_class }}" data-bs-toggle="modal" aria-label="Fast Order"
        data-bs-target="#fastOrderModal">
    Fast Order
    <!--TODO: https://developer.shopware.com/docs/guides/plugins/plugins/storefront/using-a-modal-window.html#create-a-modal-using-ajaxmodalplugin -->
</button>
