<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_fast_order %}
<div
    class="sw-cms-block-fast-order"
    :class="currentDeviceViewClass"
>
    <slot name="left">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_fast_order_slot_left %}{% endblock %}
    </slot>
    <slot name="right">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_fast_order_slot_right %}{% endblock %}
    </slot>
</div>
{% endblock %}
